/* body {
    background-color:  black;
} */

.funny {
    background-color: firebrick;
}


#funky {
    background-color: aqua;

}

.test {
    background-color: blue;
}

.testing {
    position: relative;
    
}

.tooltip {
    position: absolute;
    z-index: 9999;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    border-radius: 2px;
    pointer-events: none;
}




/* Media Queries */
/* iphone 13 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: #000;
    }
}

/* samsung galaxy */


/* huawei */