/* body {
    background-color:  black;
} */

.funny {
    background-color: firebrick;
}


#funky {
    background-color: aqua
}

.tooltip {
    position: absolute;
    z-index: 9999;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    border-radius: 2px;
    pointer-events: none;
}